.visually-hidden,
.label-visually-hidden span:last-child {
    /* https://snook.ca/archives/html_and_css/hiding-content-for-accessibility */
    position: absolute !important;
    height: 1px;
    width: 1px;
    overflow: hidden;
    clip: rect(1px 1px 1px 1px);
    /* IE6, IE7 */
    clip: rect(1px, 1px, 1px, 1px);
}

* {
    box-sizing: border-box;
}

#root {
    width: 100%;
    margin: 0;
    float: none;
    height: 100%;
}