.stack {
  display: flex;
  flex-direction: column;
  gap: var(--token-global-spacing-s16);
  margin-bottom: var(--token-global-spacing-s16);
  width: 100%;
}

.typography {
  font-family: 'Nunito Sans';
  font-weight: 700;
  font-size: 1rem;      /* 16px */
  line-height: 1.25rem; /* 20px */
  color: var(--token-alias-content-text-primary-default);
}

.box {
  display: grid;
  gap: var(--token-global-spacing-s16);
  grid-template-columns: repeat(3, minmax(0, 1fr));
}

@media (max-width: 960px) {
  .box {
    grid-template-columns: 1fr;
  }
}
