.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: var(--token-global-spacing-s12, 12px);
}

@media (max-width: 600px) {
  .header {
    flex-direction: column;
    align-items: flex-start;
    gap: var(--token-global-spacing-s12, 12px);
  }

  .headerActions {
    width: 100%;
    margin-bottom: var(--token-global-spacing-s24, 24px);
  }
}

.headerActions {
  display: flex;
  align-items: center;
  gap: var(--token-global-spacing-s24, 24px);
}

.sectionHeading {
  font: var(--token-alias-typography-label-bold-l, 700 1rem/1.25rem 'Nunito Sans');
  margin-top: var(--token-global-spacing-s24, 24px);
  margin-bottom: var(--token-global-spacing-s12, 12px);
}

.detailRow {
  display: flex;
  align-items: center;
  gap: var(--token-global-spacing-s8, 8px);
  margin-bottom: var(--token-global-spacing-s8, 8px);
  flex-wrap: wrap;
}

.metadataLink {
  margin-top: 0;
  margin-bottom: var(--token-global-spacing-s24, 24px);
}
.detailLabel {
  font-weight: var(--token-global-font-font-weight-bold, bold);
}
.detailValue {
  word-break: break-word;
}

.certsHeader {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: var(--token-global-spacing-s24, 24px);
  margin-bottom: var(--token-global-spacing-s12, 12px);
}
